body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(98, 241, 194);

}
h1 {
    text-align: center;
}
/*img  {
    float: none;
    height: 300px;
    width: 300px;
    margin: 10px auto;
    display: block;
}*/
nav {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 51, 3);

}

nav li {
    float: right;
}

nav li a {
    color: white;
    float: left;
    display: block;
    padding: 6px 16px;
    text-decoration: none;
    margin-left: 10px;
}

nav li a:hover {
    transform: scale(1.2);
    background-color: rgb(209, 112, 68);
}

#home {
    float: left;
}


 /*#logo {
    margin: 0;
    padding: 0;
    float: left;
    width: 100px;
    height: 55px;
   }

   
#logo a{
    margin: 5px 0px 5px 5px;
   }*/