body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #88F2D9;
    text-align: center;
    margin: 0 auto;
    width: 500px;
}

dt {
    font-weight: bold;
}

h1 {
    text-align: center;
}

li{
    font-size: large;
    font-weight: bold;
    list-style-type: none;
}
img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}


hr {
    width: 35%;
}