.logo a img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 110px;
    height: 55px;
}

nav {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 51, 3);
}

nav li {
    float: right;
}

nav li a {
    color: white;
    float: left;
    display: block;
    padding: 6px 16px;
    text-decoration: none;
    margin-left: 10px;
}

nav li a:hover {
    transform: scale(1.2);
    background-color: rgb(209, 112, 68);
}

table{
    width: 100%;
    border: 1px solid #000;
}

th, td{
    width: 25%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    font-weight: bold;
}
