html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(98, 241, 181);
    text-align: justify;
}

h1{
    text-align: center;
}
h3 {
    margin-left: 2%;
}
strong {
    color: rgb(68, 90, 77);
    font-size: smaller;
}
.logo a img {
    display: block;
    margin: auto;
    width: 15%;
    height: 15%;
    position: relative;
}
.imgprofile img {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 4%;
    border-radius: 50%;
    
}
span {
    color: darkolivegreen;
    font-weight: bold;
    position: absolute;
    top: 12%;
    right:1%;
}
.perfil {
    width:80%;
    margin: auto;
    margin-top: 3%;
    background-color:rgb(179, 247, 202);
    border-radius:10px;
}
.perfil img {
    width: 60%;
    border-radius: 50%;
    position: relative;
    left: 5%;
    margin-top: 5%;
}
.perfil .productos img{
    width: 150px;
    height: 150px;
    border-radius: 3%;
    left: 0%;
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 1%;
    
 }
.perfil p {
    font-size: 15pt;
    margin: 2%;
    text-align: left;
}
.imagen{
    width: 10%;
}
.datos{
    width: 30%;
}

table {
    margin:3%;
}

.productosInicio {
    width: 49%;
    background-color:rgb(179, 247, 202);
}
.usuariosInicio  {
    width: 49%;
    background-color:rgb(179, 247, 202);
}
.productosInicio img {
    width: 150px;
    height: 150px;
}
.usuariosInicio img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ini {
    background-color: rgb(34, 104, 81);
    color: white;
    font-weight: normal;
    text-align: center;
}
.contenido form{
	width:30%;
	padding:3%;
	border-radius:10px;
    margin:auto;
    margin-top: 3%;
	background-color:rgb(179, 247, 202);
}
.contenido form div {
    text-align: center;
    margin-top: 3%;
}

.contenido form div input {
    width:80%;
	padding:3%;
	border:1px solid #f6f6f6;
	border-radius:5px;
	background-color:#f6f6f6;
	margin:3%;
	display:inline-block;
}
.contenido form div button {
    width:100%;
	padding: 3%;
	margin-top:7%;
	border-radius:5px;
	display:block;
	color:#fff;
    background-color:rgb(64, 180, 132);
    border:1px solid rgb(64, 180, 132);
}
.status {
    display: block;
    text-align: right;
    margin: 3px;

}
nav {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(163, 68, 24);

}

nav li a {
    color: white;
    float: left;
    display: block;
    padding: 6px 16px;
    text-decoration: none;
    margin-left: 10px;
}

nav li a:hover {
    transform: scale(1.2);
    background-color: rgb(209, 112, 68);
}

#home {
    float: left;
}

p{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17pt;
}

footer{
    text-align: left;
    position: absolute;
    float: left;
    bottom: 5px;
    width: 90%;
    height: 40px;
}
.b button{
    width: 8%;
    padding: 0.2%;
    border-radius:5px;
    background-color:rgb(200, 243, 214);
    font-weight: bold;
    color:rgb(73, 68, 68);
}
.bperfil button{
    width: 10%;
    padding: 0.2%;
    border-radius:5px;
    background-color:rgb(127, 194, 148);
    font-weight: bold;
    color:rgb(49, 58, 49);
    margin-bottom: 2%;
    margin-left: 1%;
    margin-top: 1%;
}
.categorias ul{
    list-style-type: none;
    background-color: rgb(34, 104, 81);
    overflow: hidden;
}
.categorias a{
    color: white;
    float: left;
    display: block;
    padding: 1%;
    text-decoration: none; 
    background: linear-gradient(to right, rgb(93, 153, 133), rgb(93, 153, 133));
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 1s 0s;
}
.categorias li a:hover {
    background-size: 100% 100%;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(41, 48, 43);
    margin-left: 7%;
}

.noReg {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    background-color:rgb(179, 247, 202);
    border-radius:10px;
}
.noReg p {
    padding-bottom: 2%;
}
.noReg img {
    width: 20%;
    margin: auto;
    display: block;
}


/* Copy paste del css de contenido para el about */
.miembros ul{
    margin-top: 2%;
    background-color: rgb(34, 104, 81);
    font-size: 14pt;
    font-weight: normal;
}
.miembros li a:hover {
    transform: scale(1.2);
    background-color:  rgb(93, 153, 133);
}

.miembro{
    text-align: center;
    margin-top: 3%;
	width:30%;
	padding:3%;
    border-radius:10px;
    margin:auto;
    margin-top: 3%;
	background-color:rgb(179, 247, 202);
}

.miembro ul li{

    list-style: none;
}